# Login Information
email = xxxxxxx@gmail.com
password = xxxxxxxx
androidid = xxxxxxxx
# security token only needed for "usegcm" option
securitytoken = xxxxxxxx
#can be en-EN, en-US, tr-TR, fr-FR... (default : en-EN)
localization=en-EN

# HTTP Proxy Information
#host=localhost
#port=8888